.EncounterPage {
    width: 100%;
    height: 800px;
}
.EncounterBackArrow img{
    width: 25px;
    padding: 27px 0px 0px 5px;
    filter: invert(276%) sepia(76%) saturate(2552%) hue-rotate(174deg) brightness(118%) contrast(119%);
}

.EncounterBackArrow:hover {
    -webkit-filter: invert(50%);
}

.EncounterHeader {
    background-color: white;
}

.EncounterTitle {
    text-transform: capitalize;
    text-align: center;
    color: white;
}

.EncounterRound {
    height:80px;
    width: 100%;
    background-color: rgb(175, 175, 175);
    text-align: center;
}

.EncounterRound h4 {
    margin:10px 0 0 0;
}
.EncounterRound h1 {
    margin:0;
}
