.SideBar{ 
    height:700px;
    width:100%;
    background-color: white;
    opacity: 0.7;
    overflow: scroll;    
}

.SideBarItem {
    background-color: grey;
    border-radius:5%;
}

.SideBarItem img {
    padding:10px;
    height: 50px;
    width: 50px;
    border-radius: 62%;
}